@page
@model WestWindWebApp.Pages.QueryProductModel
@{
    ViewData["Title"] = "Product Query";
}

<h1>Product Query</h1>
<p>@Model.FeedbackMessage</p>

<form method="post">
    <label asp-for="SelectCategoryID">Category</label>
    <select asp-for="SelectCategoryID">
        <option value="0">select...</option>
        @foreach(var item in Model.CategoryList)
        {
            if(item.CategoryID == Model.SelectCategoryID)
            {
                <option value="@item.CategoryID" selected>@item.CategoryName</option>
            }
            else
            {
                <option value="@item.CategoryID">@item.CategoryName</option>
            }
        }
    </select>
    <button type="submit" asp-page-handler="Search By Category">Search By Category</button>
</form>
