@page "{SelectedCategoryID?}"
@model WestWindWebApp.Pages.Products.CategoryProductsModel
@{
    ViewData["Title"] = "Category Products";
}

<p>@Model.FeedbackMessage</p>

<form method="post">
    <label for="SelectedCategoryID">
        Select a category
        <select asp-for="SelectedCategoryId">
            <option value="0">select...</option>
            @foreach(var item in Model.CategoryList)
            {
                if(item.CategoryID == Model.SelectedCategoryId)
                {
                    <option value="@item.CategoryID" selected="selected">
                        @item.CategoryName
                    </option>
                }
                else
                {
                    <option value="@item.CategoryID">
                        @item.CategoryName
                    </option>
                }
            }
        </select>        
    </label>
    @* Write code to display the Product Name, Supplier Name, Unit Size, Discontinued
        for each product and selected category
    *@

        @if(Model.CategoryProductList.Count> 0)
    {
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Supplier Name</th>
                    <th>Unit Size</th>
                    <th>Discontinued</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var cuurentProduct in Model.CategoryProductList)
                {
                    <tr>
                        <td>@cuurentProduct.ProductName</td>
                        <td>
                            <select disabled="disabled">
                                @foreach(var currentSupplier in Model.SupplierList)
                                {
                                    <option value="@currentSupplier.SupplierID"
                                    selected=@(currentSupplier.SupplierID == cuurentProduct.SupplierID)>
                                    @currentSupplier.CompanyName
                                    </option>
                                }
                            </select>
                        </td>
                        <td>@cuurentProduct.QuantityPerUnit</td>
                        <td><input type="checkbox" checked="@cuurentProduct.Discontinued"></td>
                    </tr>
                }
            </tbody>
        </table>    
    }

    <button type="submit" asp-page-handler="Fetch">Fetch Products</button>
    <button type="submit" asp-page-handler="Clear" formvalidate>Clear</button>
    <button type="submit" asp-page-handler="New" formvalidate>New Product</button>

    


</form>
